<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="{{ url_for('static', filename='css/calculator.css') }}" rel="stylesheet" />
  <title>Калькулятор</title>
</head>
<body>
  <div>
    <!-- BEGIN (write your solution here) -->
    <table class="calculation">
      <tr class="screen">
        <td colspan="4">
          <p class="text-gray">
            Выражение
          </p>
          <p class="text-big">
            Результат
          </p>
        </td>
      </tr>
      <tr class="button">
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
      </tr>
      <tr class="button">
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>.</td>
      </tr>
      <tr class="button">
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>.</td>
      </tr>
      <tr class="button">
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>.</td>
      </tr>
      <tr class="button">
        <td>0</td>
        <td>.</td>
        <td>Delete</td>
        <td>.</td>
      </tr>
    </table>
    <!-- END -->
  </div>
</body>
</html>
