<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="{{ url_for('static', filename='css/calculator.css') }}" rel="stylesheet" />
  <title>Калькулятор</title>
</head>
<body>
  <div class="calculation">
    <!-- BEGIN (write your solution here) -->
        <section class="screen">
          <p class="text-gray small">30 x 21</p>
          <p class="text-big">630</p>
        </section>
        <section class="button-row">
          <button class="button-item">C</button>
          <button class="button-item">&plusmn;</button>
          <button class="button-item">%</button>
          <button class="button-item bg-blue">&divide;</button>
        </section>
        <section class="button-row">
          <button class="button-item">1</button>
          <button class="button-item">2</button>
          <button class="button-item">3</button>
          <button class="button-item bg-blue">&times;</button>
        </section>
        <section class="button-row">
          <button class="button-item">4</button>
          <button class="button-item">5</button>
          <button class="button-item">6</button>
          <button class="button-item bg-blue">&minus;</button>
        </section>
        <section class="button-row">
          <button class="button-item">7</button>
          <button class="button-item">8</button>
          <button class="button-item">9</button>
          <button class="button-item bg-blue">&plus;</button>
        </section>
        <section class="button-row">
          <button class="button-item">0</button>
          <button class="button-item">.</button>
          <button class="button-item small">Delete</button>
          <button class="button-item bg-blue">&equals;</button>
        </section>
    <!-- END -->
  </div>
</body>
</html>
