<!doctype html>
<html>
  <head>
    <title>Главная</title>
  </head>
  <body>
    <h1>Верстка</h1>
    <ul>
      <li><a href="{{ url_for('get_calculator') }}">Калькулятор (column)</a></li>
      <li><a href="{{ url_for('get_temp') }}">Temp</a></li>
    <h1>Flask</h1>
    </ul>
    <ul>
      <li><a href="{{ url_for('courses_get') }}">Курсы</a></li>
      <li><a href="{{ url_for('course_new') }}">Добавить курс</a></li>
      <li><a href="{{ url_for('users_get') }}">Пользователи</a></li>
      <li><a href="{{ url_for('user_new') }}">Добавить пользователя</a></li>
      <li><a href="{{ url_for('posts_get') }}">Posts</a></li>
    </ul>
  </body>
</html>
