<!DOCTYPE html>
<html>
<head>
    <title>Add course</title>
</head>
<body>
  <form action="{{ url_for('course_post') }}" method="post">
      <div>
        <a href="/">Главная</a>
      </div>
      <hr>
      <div>
        <label>
          Title *
        <input type="text" name="title" value="{{ course.title }}">
        </label>
        {% if errors['title'] %}
        <div>{{ errors['title'] }}</div>
        {% endif %}
    </div>
    <div>
      <label>
      Paid *
      <select name="paid">
        <option value="">Select</option>
        <option {{ 'Selected' if course.paid == '1' else '' }} value='1'>Paid</option>
        <option {{ 'Selected' if course.paid == '0' else '' }} value='0'>Free</option>
      </select>
      </label>
      {% if errors['paid'] %}
        <div>errors['paid']</div>
      {% endif %}
    </div>
    <input type="submit" value="Create">
  </form>
</body>
</html>