<!doctype html>
<html>
  <head>
    <title>Lesson 11</title>
  </head>
  <body>
    Users
    <div>
      <a href="/">Главная</a>
      <a href="{{ url_for('user_new') }}">Добавить пользователя</a>
    </div>
      {% if messages %}
        <hr>
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    <form action="{{ url_for('users_search') }}" method="get">
      <input type="search" name="term" value="{{ search }}" />
      <input type="submit" value="Search" />
    </form>
    <hr>
    <table>
      {% for user in users %}
      <tr>
        <td>
          {{ user.id }}
        </td>
        <td>
          <a href="{{ url_for('user_get', id=user.id) }}">{{ user.name }}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>

<!--<!doctype html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Example application</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    &lt;!&ndash; BEGIN (write your solution here) &ndash;&gt;-->
<!--      <table>-->
<!--        <tr>-->
<!--          <th>id</th>-->
<!--          <th>first_name</th>-->
<!--        </tr>-->
<!--        {% for user in users %}-->
<!--        <tr>-->
<!--          <td>-->
<!--            {{ user['id'] }}-->
<!--          </td>-->
<!--          <td>-->
<!--            <a href="/users/{{ user['id'] }}">{{ user['first_name'] }}</a>-->
<!--          </td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </table>-->
<!--    &lt;!&ndash; END &ndash;&gt;-->
<!--  </body>-->
<!--</html>-->
