<!doctype html>
<html>
  <head>
    <title>Lesson 11</title>
  </head>
  <body>
    <div>
      <a href="/">Главная</a>
    </div>
    <form action="{{ url_for('users_search') }}" method="get">
<!--      value="{{ search }} - подставляет данные в форму-->
<!--      name="term" - хранит введенные данные-->
      <input type="search" name="term" value="{{ search }}" />
      <input type="submit" value="Search" />
    </form>
    <hr>
    {% for user in users %}
    <ul>
      <li>{{ user.name }}</li>
    </ul>
    {% endfor %}
  </body>
</html>

<!--<!doctype html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Example application</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    &lt;!&ndash; BEGIN (write your solution here) &ndash;&gt;-->
<!--      <table>-->
<!--        <tr>-->
<!--          <th>id</th>-->
<!--          <th>first_name</th>-->
<!--        </tr>-->
<!--        {% for user in users %}-->
<!--        <tr>-->
<!--          <td>-->
<!--            {{ user['id'] }}-->
<!--          </td>-->
<!--          <td>-->
<!--            <a href="/users/{{ user['id'] }}">{{ user['first_name'] }}</a>-->
<!--          </td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </table>-->
<!--    &lt;!&ndash; END &ndash;&gt;-->
<!--  </body>-->
<!--</html>-->
